# プロジェクトの除外パス
/.gradle/
/build/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/
/fabric/run/
/.kotlin/
/.idea/runConfigurations/Minecraft_Server___fabric__fabric.xml
/.idea/runConfigurations/Minecraft_Server___neoforge__neoforge.xml
